*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none;
}
ul,
ol{
    list-style: none;
}
img{
    vertical-align: middle;
}
.full_wrapper{
    width: 100%
}
.container{
    width: 960px;
    margin: 0 auto;
}
.clr{
    clear: both;
}
/* common css end */

/* Header part start */
.header_full{
    height: 51px;
    background: #ba2e1f;
}
.header_cont{
    height: 51px;
}
.header_text{
    width: 50%;
    height: 51px;
    float: left;
}
.header_search{
    width: 50%;
    height: 51px;
    float: left;
}
.header_text a{
    float: left;
    line-height: 49px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ba2e1f;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.header_text a:hover{
    background: #fff;
    color: black;
    border-color: #fff;
}
.header_left{
    float: left;
} 
.search_box{
    position: absolute;
    background: #fff;
    height: 12px;
    border-radius: 40px;
    padding: 10px;
    line-height: 51px;
    float: right;
    right: 202px;
    top: 10px;
}
.search_bottom{
    color: #938585;
    float: right;
    width: 40px;
    height: 12px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search_bottom i:hover{
    background: #ba2e1f;
    padding: 7px;
    color: #fff;
    border-radius: 50%;
}
.search_text{
    border: none;
    outline: none;
    background: none;
    padding: 0;
    color: black;
    font-size: 12px;
    transition: .4s;
    width: 240px;
    line-height: 12px;
    float: left;
}
/* Header part end */

/* menu part start */

.menu_cont{
    height: 93px;
}
.menu_left{
    width: 50%;
    float: left;
}
.menu_left a{
    line-height: 93px;
    padding-top: 41px;
    padding-bottom: 19px;
}
.menu_right{
    width: 50%;
    float: left;
}
.menu_right a{
    float: right;
    bottom: 0;
}
.menu_right a i{
    font-size: 14px;
    color: #f3f3f3;
    background: #333333;
    padding: 9px;
    border-radius: 50%;
    margin-top: 61px;
    margin-left: 10px;
    transition: all linear .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
}
.menu_right a i:hover{
    background: #ee802f;
}

/* menu part end */

/* Navbar part start */
.nav_cont{
    height: 81px;
}
.nav_top{
    height: 41px;
}
.nav_img{
    background-image: url(../images/navbar.png);
    height: 40px;
}
.nav_img ul{
    align-content: center;
}
.nav_img ul li a{
    float: left;
    color: #e9e8e3;
    padding-right: 30px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all linear .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    -ms-transition: .4s;
    font-size: 14px;
    font-weight: 400;
}
.nav_img ul li a:hover{
    color: #ba2e1f;
}
.home{
    padding-left: 75px;
    margin-left: 20px;
}
/* Navbar part end */

/* Intro part start */
.intro_cont{
    height: 465px;
    
}
.intro_left{
    width: 400px;
    float: left;
}
.intro_left a img{
    height: 440px;
    max-width: 100%;
    margin-top: 25px;
}
.intro_right{
    width: 560px;
    float: left;
}
.intro_right h1{
    font-size: 83px;
    text-transform: uppercase;
    margin-left: 50px;
    color: #000000;
    font-weight: 600;
    margin-top: 142px;
}
.intro_right p{
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666666;
}
.intro_right span{
    float:right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ba2e1f;
}
.intro_right span i{
    color: #000;
}
/* Intro part end */

/* Content part start */
.content_cont{
    height: 553px;
    background: #f2f2f2;
}
.about_left{
    width: 300px;
    float: left;
    height: 100%;
    margin-right: 33.5px;
}
.about_left h2{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about_left img{
    height: 140px;
    max-width: 100%;
    width: 290px;
    padding: 5px;
}
.about_left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 19px;
    margin-left: 2px;
    color: #878787;
}
.about_left span{
    float: right;
    margin-top: 18px;
    color: #b92d1f;
}
.services_middle{
    width: 292px;
    float: left;
    height: 100%;
    margin-right: 33.5px;
}
.services_middle h2{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 55px;
}
.services_middle .first img{
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
}
.first h3{
    color: #878787;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Crimson Text', serif;
}
.first p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
}
.services_middle .second img{
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
}
.second h3{
    color: #878787;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Crimson Text', serif;
}
.second p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
}
.services_middle .third img{
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
}
.third h3{
    color: #878787;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Crimson Text', serif;
}
.third p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
}
.services_middle .four img{
    height: 64px;
    width: 64px;
    float: left;
    margin-right: 18px;
    margin-bottom: 18px;
}
.four h3{
    color: #878787;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Crimson Text', serif;
}
.four p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #878787;
}

.clients_right{
    width: 300px;
    float: left;
    height: 100%;
}
.four span p{
    margin-top: 30px;
    color: #b92d1f;
    text-align: right;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Crimson Text', serif;
}
.clients_head h2{
    font-family: 'Crimson Text', serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clients_head h3{
    color: #878787;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    text-align: center;
}
.clients_head p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: 24px;
    color: #878787;
}
.clients_head span p{
    margin-top: 19px;
    color: #b92d1f;
    text-align: right;
    font-weight: 500;
    font-size: 17px;
    font-family: 'Crimson Text', serif;
}
.clients_head span h3{
    margin-top: 36px;
    font-family: 'Crimson Text', serif;
}
/* Content part end */

/* Footer part start */
.footer_cont{
    height: 399px;
}
.footer_left{
    float: left;
    width: 210px;
    margin-right: 30px;
}
.border{
    border-bottom: 2px solid #666666;
    margin-top: 36px;
}
.footer_left h2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 33px;
}
.footer_left p{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}
.footer_left p span{
    color: #b92d1f;
}
.footer_middle1{
    float: left;
    width: 210px;
    margin-right: 30px;
}
.footer_middle1 h2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 33px;
}
.footer_middle1 ul li a{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.footer_middle1 ul li{
    border-bottom: 2px solid #d4d4d4;
    color: #666666;
    margin-bottom: 5px;
}
.footer_middle1 ul li a:hover{
    color: #b92d1f;
}
.footer_middle1 ul li span{
    margin-right: 10px;
}
.footer_middle2{
    float: left;
    width: 210px;
    position: relative;
    margin-right: 30px;
}
.footer_middle2 h2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-bottom: 50px;
}
.footer_middle2 h3{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
}
.footer_middle2 p{
    color: #878787;
    font-weight: 400;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    
}
.footer_middle2 span p{
    color: #878787;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 17px;
    margin-bottom: 14px;
}
.footer_middle2 span{
    color: #b92d1f;
}
.footer_middle2 span h4{
    font-size: 12px;
    color: #b92d1f;
    float: right;
    font-size: 14px;
    font-weight: 400;
}
.footer_right{
    float: left;
    width: 240px;
}
.box{
    width: 160px;
    padding: 20px;
    position: absolute;
    text-align: center;
}
.box input[type = "text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 100px;
    outline: none;
    color: #880d0d;
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
    align-content: center;
}
.box input[type = "submit"]{
      border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    padding: 10px 30px;
    outline: none;
    color: #000;
    border: 2px solid #3498db;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type = "submit"]:hover{
    background: #2ecc71;
    border-color: #2ecc71;
    color: white;
}
/* Header part end */

/* Header part start */
.copy_cont{
    height: 65px;
    text-align: center;
    line-height: 65px;
    background: #f2f2f2;
    font-size: 12px;
    color: #878787;
}
.copy_cont div a{
    color: #b92d1f;
}

/* Header part end */
/* Header part start */
/* Header part end */